
@model TorneioDeLuta.Application.ViewModels.TorneioViewModel

@{
    ViewData["Title"] = "Torneio de Luta";
}

<style>
    .box {
        top: 50px; /* altura que vai parar antes do topo */
        position: sticky;
        
    }
</style>

<div style="text-align:center">
    <h1>Torneio de Luta</h1>
</div>



@using (Html.BeginForm("Batalha", "Torneio", FormMethod.Post))
{
    @if (!string.IsNullOrEmpty(Model.Mensagem) && Model.TipoMensagem == 2)
    {
        <div class="alert alert-warning" role="alert" style="text-align:center">
            <b>
                @Model.Mensagem
            </b>
        </div>
    }


    if (!string.IsNullOrEmpty(Model.Mensagem) && Model.TipoMensagem == 1)
    {
        <div class="alert alert-danger" role="alert" style="text-align:center">
            <b>
                @Model.Mensagem
            </b>
        </div>
    }
    else
    {
        <div class="box" style="text-align:right;">
            <div class="row">
                <div class="col-6 offset-6">
                    <h4 id="Total-Lutadores" style="">Total Lutadores: @Model.TotalSelecionado</h4>
                </div>
                <div class="col-6 offset-6">
                    <input class="btn btn-warning" type="submit" style="color:white;width:230px;height:50px;" value="Iniciar Torneio!!!" />
                </div>
            </div>

        </div>

        <div class="row">
            @for (int i = 0; i < Model.Lutadores.Count(); i++)
            {

                <div class="card-body col-3 border border-primary" style="margin: 5px; list-style: none;padding:0px;">
                    <ul style="height: 300px; list-style: none; padding: 5px;">

                        <li><b>Id:</b> @Model.Lutadores[i].Id</li>
                        <li><b>Nome:</b>  @Model.Lutadores[i].Nome</li>
                        <li><b>Idade:</b> @Model.Lutadores[i].Idade</li>
                        <li><b>Total de Lutas:</b>@Model.Lutadores[i].Lutas</li>
                        <li><b>Total de Vitorias:</b> @Model.Lutadores[i].Vitorias</li>
                        <li><b>Total de Derrotas:</b> @Model.Lutadores[i].Derrotas</li>
                        <li>
                            <b>Artes Marciais:</b>
                            <ul>
                                @foreach (var arte in @Model.Lutadores[i].ArtesMarciais)
                                {

                                    <li>@arte;</li>
                                }
                            </ul>
                        </li>

                    </ul>

                    <div class="card-body col" style="text-align:center;">
                        @if (@Model.Lutadores[i].Selecionado)
                        {
                            <label id="btn-l-s-@i" class="btn btn-success col-10" style="margin:5px;" onclick="SelecionarLutador('Lutadores_'+ @i +'__Selecionado',@i)">Selecionado</label>
                        }
                        else
                        {
                            <label id="btn-l-s-@i" class="btn btn-primary col-10" style="margin:5px;" onclick="SelecionarLutador('Lutadores_'+ @i +'__Selecionado',@i)">Selecione</label>
                        }

                        <input asp-for="@Model.Lutadores[i].Id" hidden />
                        <input asp-for="@Model.Lutadores[i].Idade" hidden />
                        <input asp-for="@Model.Lutadores[i].Nome" hidden />
                        <input asp-for="@Model.Lutadores[i].Lutas" hidden />
                        <input asp-for="@Model.Lutadores[i].Vitorias" hidden />
                        <input asp-for="@Model.Lutadores[i].Derrotas" hidden />
                        <input asp-for="@Model.Lutadores[i].ArtesMarciais" hidden />
                        <input asp-for="@Model.Lutadores[i].Selecionado" type="checkbox" hidden />

                    </div>
                </div>
            }
        </div>
    }

}



<script>

    var totalLutadores = @Model.TotalSelecionado;

   
    function SelecionarLutador(id, count) {

        if ($("#" + id).is(':checked')) {
            $("#btn-l-s-" + count).removeClass("btn-success");
            $("#btn-l-s-" + count).addClass("btn-primary");
            $("#btn-l-s-" + count).text('Selecione');
            $("#" + id).prop("checked", false);
            $("#" + id).val(false);
            totalLutadores = totalLutadores - 1;

            $("#Total-Lutadores").text('Total Lutadores: ' + totalLutadores);
        } else {
            $("#btn-l-s-" + count).removeClass("btn-primary");
            $("#btn-l-s-" + count).addClass("btn-success");
            $("#btn-l-s-" + count).text('Selecionado');
            $("#" + id).prop("checked", true);
            $("#" + id).val(true);

            totalLutadores = totalLutadores + 1;

            $("#Total-Lutadores").text('Total Lutadores: ' + totalLutadores);

        }

    }

</script>